<!DOCTYPE html>
<html>
  <head>
    <style>
    #main-wrapper {
      width: 70%;
      max-width: 50em;
      margin: auto;
    }
    input[type=search] {
      width: 80%;
      margin-top: 10em;
      margin-bottom: 2em;
    }
    b {
      color: rgb(237, 93, 64);
    }
    p {
      margin-top: .5em;
    }
    h3 {
      margin: 2em 0 0 0;
    }
    </style>
    <meta charset="UTF-8">
    <title>STFS</title>
  </head>
  <body>
    <div id="main-wrapper">
      <div id="search-wrapper">
        <form>
          <input autofocus type="search" name="q" placeholder="Search The Tim Ferriss Show...">
          <button type="submit">Search</button>
        </form>
      </div>
      <% if @episodes.empty? %>
        <h2><%= "There are no search results for '#{@query}'"%></h2>
      <% else %>
        <div id="results-wrapper">
          <% @episodes.each do |episode| %>
            <div class="results">
              <h3><%= episode.title %></h3>
              <p><%= episode.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
